@charset "UTF-8";

/*----------------------
CSS
作成日 : 2024/12/20
作成者 : k.yamashita
名称 : 株式会社スキューバマリン様webサイト
------------------------ */

/* --------------------------------------
全体 
-----------------------------------------*/

html {
  font-size: 100%;
  color: #4d4d4d
}

body {
  font-family: "Hiragino Sans", "Meiryo", sans-serif;
  line-height: 1.6;
  width: 100%;
  font-size: 100%;
  background-color: #f5f5f5;
  color: #4d4d4d;
  font-style: normal;
}

a {
  text-decoration: none;
  color: #4d4d4d
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* --------------------------------------
#header
-----------------------------------------*/
  
#header {
  display: flex;
  flex-direction: column;
  margin-bottom: 45px;
}
  
#header .header-long-block {
  display: flex;
  align-items: center;
  background-color: #00a0e9;
  /* height: 6%; */
  /* margin-bottom: 30px; */
}

#header .header-long-block .header-long-block-in {
  margin-left: 10%;
  text-align: center;
}

#header .header-long-block .header-long-block-in p {
  color: #fff;
  font-size: 110%;
}

#header .header-container {
  padding: 1.2%;
  background-color: #fff;
}

#header .header-container .header-container-in {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-right: 0.5%; */
}

#header .header-container .header-container-in .header-logo {
  width: 25%;
}

#header .header-container .header-container-in .header-logo a {
  display: flex;
  align-items: center;
}

#header .header-container .header-container-in .header-logo img {
  width: 100%;
  /* margin: 0; */
}

#header .header-container .header-container-in .header-container-in {
  width: 50%;
}

#header .header-container .header-container-in .header-contact {
  margin-right: 2%;
  display: flex;
  align-items: center;
  width: 50%;
}

#header .header-container .header-container-in .header-contact img{
  width: 100%;
}

#header .header-container .header-container-in .header-reservation {
  /* margin-right: 2%; */
  display: flex;
  align-items: center;
  width: 50%;
}

#header .header-container .header-container-in .header-reservation .reservation-logo {
  display: inline-block;
  width: 100%;
  background: #000;
  border-radius: 8px;
}

#header .header-container .header-container-in .header-reservation .reservation-logo img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

#header .header-container .header-container-in .header-reservation a:hover img{
  opacity: 0.7;
}

#header .header-main-visual {
  padding: 5px 4px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#header .header-main-visual .header-main-visual-in {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#header .header-main-visual .header-main-visual-in img {
  width: 100%;
}

#header .header-nav {
  width: 100%;
  background-color: #fff;
  padding: 1.1% 0;
}

#header .header-nav .nav-in {
  margin: 0 auto;
  width: 80%;
}

#header .header-nav .menu-top {
  display: flex;
}

#header .header-nav .nav-in .menu-top .menu-item {
  width: 14.3%;
  height: 60px;
  /* padding: 1.1% 0; */
  border-left: 1px solid #C6C6C6;
}

#header .header-nav .nav-in .menu-top .menu-item a{
  width: 100%;
  height: 100%;
  display: inline-block;
  transition: all 0.4s;
  line-height: 60px;
  text-align: center;
  font-weight: 700;
  font-size: 110%;
}

#header .header-nav .nav-in .menu-top .menu-item a:hover {
  color: #00a0e9;
}

#header .header-nav .nav-in .menu-top .menu-item:last-child {
  border-right: 1px solid #C6C6C6;
}

/* --------------------------------------
#main
-----------------------------------------*/

#main .wrapper {
  width: 80%;
  display: flex;
  margin: 0 auto 80px auto;
  padding-bottom: 100px;
}

#main .wrapper .left-column {
  width: 70%;
  margin-right: 2%;
}

#main .wrapper .right-column {
  width: 28.0%;
}

#main .wrapper .left-column .left-column-section {
  margin-bottom: 40px;
}

#main .wrapper .left-column .section-title {
  width: 100%;
  padding: 2.0% 1.3%;
  display: flex;
  align-items: center;
  background-color: #e7ecd5;
  margin-bottom: 30px;
}

#main .wrapper .left-column .section-title h2 {
  /* margin-top: 2px; */
  padding-left: 12px;
  letter-spacing: 1.5px;
  display: flex;
  align-items: center;
  line-height: 25px;
  border-left: 6px solid #00a0e9;
}

#main .wrapper .left-column #news .section-contents .news-list .news-date {
  color: #A0A0A0;
  margin-bottom: 4px;
  font-size: 110%;
  font-weight: 500;
}

#main .wrapper .left-column #news .section-contents .news-list .news-contents {
  color: #00a0e9;
  font-size: 170%;
  font-weight: 600;
  margin-bottom: 20px;
}

#main .wrapper .left-column #news .section-contents .news-updates {
  width: 100%;
  text-align: right;
}

#main .wrapper .left-column #news .button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #f39400;
  padding: 1.3% 3% 1.3% 6%;
  border-radius: 6px;
  font-size: 100%;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

#main .wrapper .left-column #news .button .arrow {
  margin-left: 30px;
  margin-bottom: 3px;
  font-size: 20px;
}

#main .wrapper .left-column #news .button:hover {
  background-color: #d07c00;
}

#main .wrapper .left-column #courses .section-contents .description {
  margin-bottom: 30px;
}

#main .wrapper .left-column #courses .section-contents .description p {
  font-size: 18px;
}

#main .wrapper .left-column #courses .section-contents .course-list-container {
  display: flex;
  justify-content: space-between;
}

#main .wrapper .left-column #courses .section-contents .course-list-container .course-content {
  width: 100%;
  transition: all 0.4s;
  z-index: 10;
  background-color: #4d4d4d;
}

#main .wrapper .left-column #courses .section-contents .course-list-container .course-content {
  width: 30%;
}

#main .wrapper .left-column #courses .section-contents .course-list-container .course-content img {
  width: 100%;
}

#main .wrapper .left-column #courses .section-contents .course-list-container .course-content a img {
  transition: all 0.4s;
}

#main .wrapper .left-column #courses .section-contents .course-list-container .course-content a:hover img {
  opacity: 0.7;
}

#main .wrapper .left-column #testimonials .section-contents .testimonial-container {
  width: 100%;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  display: flex;
  padding: 40px;
  margin-bottom: 30px;
}

#main .wrapper .left-column #testimonials .section-contents .testimonial-container .testimonial-img {
  margin-right: 30px;
  width: 400px;
  height: 100%;
}

#main .wrapper .left-column #testimonials .section-contents .testimonial-container .testimonial-img img{
  width: 100%;
  height: 100%;
}

#main .wrapper .left-column #testimonials .section-contents .testimonial-container .testimonial-desctription {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#main .wrapper .left-column #testimonials .section-contents .testimonial-container .testimonial-desctription h3 {
  font-size: 32px;
  letter-spacing: 3px;
  color: #00a0e9;
  padding-bottom: 5px;
  width: 100%;
  border-bottom: 2px solid #d1d1d1;
}

#main .wrapper .left-column #testimonials .section-contents .testimonial-container .testimonial-desctription p {
  font-size: 22px;
}

#main .wrapper .left-column #testimonials .section-contents .testimonial-container .testimonial-desctription p:last-child {
  text-align: right;
}

#main .wrapper .left-column .main-contact-container {
  width: 100%;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  margin-bottom: 30px;
}

#main .wrapper .left-column .main-contact-container .main-contact-left {
  width: 50%;
  padding: 1%;
  border-right: 2px solid #d1d1d1;
}

#main .wrapper .left-column .main-contact-container .main-contact-left img {
  width: 90%;
  margin-left: 5%;
}

#main .wrapper .left-column .main-contact-container .main-contact-right .reservation-logo {
  display: inline-block;
  background: #000;
  border-radius: 7px;
  width: 80%;
}

#main .wrapper .left-column .main-contact-container .main-contact-right .reservation-logo img {
  width: 100%;
  margin: 0 auto;
  display: block;
  transition: all 0.4s;
}

#main .wrapper .left-column .main-contact-container .main-contact-right .reservation-logo:hover img {
  opacity: 0.7;
}

#main .wrapper .right-column .reservation {
  width: 100%;
  margin-bottom: 50px;
}

#main .wrapper .right-column .reservation .reservation-logo {
  display: inline-block;
  background: #000;
  border-radius: 7px;
}

#main .wrapper .right-column .reservation .reservation-logo img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

#main .wrapper .right-column .reservation .reservation-logo:hover img {
  opacity: 0.7;
}

#main .wrapper .right-column section {
  margin-bottom: 40px;
  width: 100%;
}

#main .wrapper .right-column section .right-section-title {
  margin-bottom: 15px;
  padding-left: 12px;
  letter-spacing: 1.5px;
  display: flex;
  align-items: center;
  line-height: 40px;
  border-left: 8px solid #00a0e9;
  font-size: 170%;
}

#main .wrapper .right-column #youtube-link .right-section-container {
  width: 100%;
}

#main .wrapper .right-column #youtube-link .right-section-container .iframe {
  width: 100%;
}

#main .wrapper .right-column #store-information .right-section-container img {
  width: 100%;
  margin-bottom: 20px;
}

#main .wrapper .right-column #store-information .right-section-container p {
  font-size: 140%;
  margin-bottom: 15px;
  font-weight: 300;
}

#main .wrapper .right-column #staff-blog .staff-blog-container dt,
#main .wrapper .right-column #staff-blog .staff-blog-container dd a{
  color: #00a0e9;
}

#main .wrapper .right-column #staff-blog .staff-blog-container dt{
  font-size: 110%;
  font-weight: 300;
  margin-bottom: 10px;
}

#main .wrapper .right-column #staff-blog .staff-blog-container dd{
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 2px dotted #d1d1d1;
}

#main .wrapper .right-column #staff-blog .staff-blog-container dd a{
  font-size: 165%;
  font-weight: 600;
  /* margin-bottom: 10px; */
  text-decoration: underline;
}

#main .wrapper .right-column .gray-zone {
  width: 100%;
  margin-bottom: 60px;
}

#main .wrapper .right-column .gray-zone ul li img{
  width: 100%;
  margin-bottom: 15px;
}

#main .wrapper .right-column .online-store {
  width: 100%;
}

#main .wrapper .right-column .online-store img {
  width: 100%;
}

/* --------------------------------------
#footer
-----------------------------------------*/

#footer .footer-nav {
  width: 100%;
  background-color: #00a0e9;
  padding: 0.8% 0;
}

#footer .footer-nav .nav-in {
  margin: 0 auto;
  width: 80%;
}

#footer .footer-nav .menu-top {
  display: flex;
}

#footer .footer-nav .nav-in .menu-top .menu-item {
  width: 14.3%;
  height: 40px;
  /* padding: 1.1% 0; */
  border-left: 1px solid #C6C6C6;
}

#footer .footer-nav .nav-in .menu-top .menu-item a{
  width: 100%;
  height: 100%;
  display: inline-block;
  transition: all 0.4s;
  line-height: 40px;
  text-align: center;
  font-weight: 700;
  font-size: 110%;
  color: #fff;
}

#footer .footer-nav .nav-in .menu-top .menu-item a:hover {
  color: #f39400;
}

#footer .footer-nav .nav-in .menu-top .menu-item:last-child {
  border-right: 1px solid #C6C6C6;
}

#footer .footer-container {
  padding: 60px 0;
  background-color: #fff;
}

#footer .footer-container .footer-container-in {
  display: flex;
  /* justify-content: space-between; */
  width: 50%;
  margin: 0 auto 50px auto;
}

#footer .footer-container .footer-container-in .footer-logo {
  display: block;
  width: 55%;
}

#footer .footer-container .footer-container-in .footer-logo img {
  width: 80%;
  margin: 0 auto;
}

#footer .footer-container .footer-container-in .footer-contact {
  width: 45%;
}

#footer .footer-container .footer-container-in .footer-contact img{
  width: 90%;
  margin: 0 auto;
}

#footer .footer-container p {
  font-size: 120%;
  text-align: center;
  margin: 0 auto;
}

