@charset "UTF-8";

/*----------------------
CSS
作成日 : 2024/12/20
作成者 : k.yamashita
名称 : 株式会社スキューバマリン様webサイト
------------------------ */

/* --------------------------------------
全体 
-----------------------------------------*/

html {
  font-size: 100%;
  color: #4d4d4d
}

body {
  font-family: "Hiragino Sans",Meiryo,sans-serif;
  line-height: 1.6;
  width: 100%;
  font-size: 100%;
  background-color: #f5f5f5;
  color: #4d4d4d;
  font-style: normal;
}

a {
  text-decoration: none;
  color: #4d4d4d
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* --------------------------------------
#header
-----------------------------------------*/
  
#header {
  display: flex;
  flex-direction: column;
  margin-bottom: 45px;
}
  
#header .header-long-block {
  display: flex;
  align-items: center;
  background-color: #00a0e9;
  padding: 2.2px 0;
  /* height: 6%; */
  /* margin-bottom: 30px; */
}

#header .header-long-block .header-long-block-in {
  margin-left: 10%;
  text-align: center;
}

#header .header-long-block .header-long-block-in p {
  color: #fff;
  font-size: 124%;
  /* font-size: 1.06vw; */
}

#header .header-container {
  padding: 1.4%;
  background-color: #fff;
}

#header .header-container .header-container-in {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-right: 0.5%; */
}

#header .header-container .header-container-in .header-logo {
  display: block;
  width: 445px;
  /* width: 23.5%; */
}

#header .header-container .header-container-in .header-logo a {
  display: flex;
  align-items: center;
}

#header .header-container .header-container-in .header-logo img {
  width: 100%;
}

#header .header-container .header-container-in .header-container-in-in {
  width: 800px;
  margin-left: 10%;
  /* width: 50%; */
}

#header .header-container .header-container-in .header-container-in-in {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header .header-container .header-container-in .header-container-in-in .header-contact {
  margin-right: 2%;
  justify-content: flex-end;
  display: flex;
  align-items: center;
  width: 46.5%;
}

#header .header-container .header-container-in .header-container-in-in .header-contact img{
  width: 92%;
}

#header .header-container .header-container-in .header-container-in-in .header-reservation {
  /* margin-right: 2%; */
  display: flex;
  align-items: center;
  width: 53.5%;
}

#header .header-container .header-container-in .header-container-in-in .header-reservation .reservation-logo {
  display: inline-block;
  width: 100%;
  background: #000;
  border-radius: 12px;
}

#header .header-container .header-container-in .header-reservation .reservation-logo img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

#header .header-container .header-container-in .header-reservation a:hover img{
  opacity: 0.7;
}

#header .header-main-visual {
  padding: 5px 4px;
  /* width: 100%; */
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
}

#header .header-main-visual .header-main-visual-in {
  width: 100%;
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
}

#header .header-main-visual .header-main-visual-in img {
  width: 100%;
  max-width: 1920px;
  height: 510px;
  object-fit: cover;
}

#header .header-nav {
  width: 100%;
  /* height: 147.4px; */
  background-color: #fff;
  box-shadow: 0 10px 30px -20px #000;
}

#header .header-nav .nav-in {
  margin: 0 auto;
  max-width: 1600px;
  height: 100%;
  padding: 1.75% 3%;
}

#header .header-nav .menu-top {
  display: flex;
  height: 100%;
}

#header .header-nav .nav-in .menu-top .menu-item {
  width: 14.3%;
  height: 100%;
  display: flex;
  align-items: center;
  border-left: 2px solid #C6C6C6;
  padding: 1% 0;
}

#header .header-nav .nav-in .menu-top .menu-item a{
  width: 100%;
  display: inline-block;
  transition: all 0.4s;
  text-align: center;
  font-weight: 700;
  font-size: 1.25vw;
}

#header .header-nav .nav-in .menu-top .menu-item a:hover {
  color: #00a0e9;
}

#header .header-nav .nav-in .menu-top .menu-item:last-child {
  border-right: 2px solid #C6C6C6;
}

/* --------------------------------------
#main
-----------------------------------------*/

#main .wrapper {
  max-width: 1600px;
  display: flex;
  margin: 0 auto 80px auto;
  padding:0 3% 100px 3%;
}

#main .wrapper .left-column {
  width: 73%;
  margin-right: 2%;
}

#main .wrapper .right-column {
  width: 25%;
}

#main .wrapper .left-column .left-column-section {
  margin-bottom: 60px;
}

#main .wrapper .left-column .section-title {
  width: 100%;
  padding: 20px 15px;
  display: flex;
  align-items: center;
  background-color: #e7ecd5;
  margin-bottom: 30px;
}

#main .wrapper .left-column .section-title h2 {
  padding-left: 15px;
  letter-spacing: 1.5px;
  display: flex;
  align-items: center;
  line-height: 32px;
  border-left: 8px solid #00a0e9;
  font-size: 200%;
  font-weight: 600;
}

#main .wrapper .left-column #news .section-contents .news-list .news-date {
  color: #A0A0A0;
  margin-bottom: 3.5px;
  font-size: 140%;
  font-weight: 300;
}

#main .wrapper .left-column #news .section-contents .news-list .news-contents {
  color: #00a0e9;
  font-size: 180%;
  font-weight: 600;
  margin-bottom: 25px;
}

#main .wrapper .left-column #news .section-contents .news-updates {
  width: 100%;
  text-align: right;
  margin-top: 45px;
}

#main .wrapper .left-column #news .button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #f39400;
  padding: 1.25% 3% 1.25% 5%;
  border-radius: 6px;
  font-size: 120%;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

#main .wrapper .left-column #news .button .arrow {
  margin-left: 30px;
  margin-bottom: 3px;
  font-size: 20px;
}

#main .wrapper .left-column #news .button:hover {
  background-color: #d07c00;
}

#main .wrapper .left-column #courses .section-contents .description {
  margin-bottom: 30px;
}

#main .wrapper .left-column #courses .section-contents .description p {
  font-size: 150%;
  font-weight: 300;
}

#main .wrapper .left-column #courses .section-contents .course-list-container {
  display: flex;
  justify-content: space-between;
}

#main .wrapper .left-column #courses .section-contents .course-list-container .course-content {
  transition: all 0.4s;
  width: 31.6%;
  z-index: 10;
  background-color: #4d4d4d;
}

#main .wrapper .left-column #courses .section-contents .course-list-container .course-content a img {
  transition: all 0.4s;
  width: 100%;
  display: block;
  border: 2px solid #C6C6C6;
}

#main .wrapper .left-column #courses .section-contents .course-list-container .course-content a:hover img {
  opacity: 0.7;
}

#main .wrapper .left-column #testimonials .section-contents .testimonial-container {
  width: 100%;
  /* height: 38vh; */
  background-color: #fff;
  border: 1.7px solid #d1d1d1;
  display: flex;
  padding: 3.6%;
  margin-bottom: 30px;
}

#main .wrapper .left-column #testimonials .section-contents .testimonial-container .testimonial-img {
  /* margin-right: 40px; */
  min-width: 275px;
  /* width: auto; */
  /* height: 100%; */
}

#main .wrapper .left-column #testimonials .section-contents .testimonial-container .testimonial-img img {
  width: 100%; */
  /* height: 100%; */
}


#main .wrapper .left-column #testimonials .section-contents .testimonial-container .testimonial-desctription {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  /* height: 100%; */
  /* justify-content: space-between; */
}

#main .wrapper .left-column #testimonials .section-contents .testimonial-container .testimonial-desctription h3 {
  font-size: 180%;
  font-weight: 600;
  letter-spacing: 1px;
  color: #00a0e9;
  padding-bottom: 5px;
  width: 100%;
  border-bottom: 2px solid #d1d1d1;
  margin-bottom: 30px;
}

#main .wrapper .left-column #testimonials .section-contents .testimonial-container .testimonial-desctription p {
  font-size: 146%;
  font-weight: 300;
}

#main .wrapper .left-column #testimonials .section-contents .testimonial-container .testimonial-desctription p:last-child {
  font-size: 150%;
  text-align: right;
  margin-top: auto;
  justify-content: flex-end;
}

#main .wrapper .left-column .main-contact-container {
  width: 100%;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  padding: 5%;
  /* margin-bottom: 30px; */
}

#main .wrapper .left-column .main-contact-container .main-contact-container-in {
  width: 100%;
  display: flex;
  /* align-items: left; */
  justify-content: space-between;
}

#main .wrapper .left-column .main-contact-container .main-contact-container-in .main-contact-left {
  width: 45%;
  display: flex;
  /* padding-right: 4%; */
  border-right: 2px solid #d1d1d1;
}

#main .wrapper .left-column .main-contact-container .main-contact-container-in .main-contact-left img {
  width: 90%;
  /* height: auto; */
  /* aspect-ratio: 446/78; */
  object-fit: contain;
  margin-right: 1%;
}

#main .wrapper .left-column .main-contact-container .main-contact-right {
  width: 55%;
  /* padding-left: 49.1px; */
}

#main .wrapper .left-column .main-contact-container .main-contact-right {
  display: inline-block;
  background: #000;
  border-radius: 7px;
  width: 50%;
}

#main .wrapper .left-column .main-contact-container .main-contact-right .reservation-logo img {
  width: 100%;
  margin: 0 auto;
  display: block;
  transition: all 0.4s;
}

#main .wrapper .left-column .main-contact-container .main-contact-right .reservation-logo:hover img {
  opacity: 0.7;
}

#main .wrapper .right-column .reservation {
  width: 100%;
  margin-bottom: 30px;
}

#main .wrapper .right-column .reservation .reservation-logo {
  display: inline-block;
  width: 100%;
  background: #000;
  border-radius: 11px;
}

#main .wrapper .right-column .reservation .reservation-logo img {
  display: block;
  width: 100%;
  transition: all 0.4s;
}

#main .wrapper .right-column .reservation .reservation-logo:hover img {
  opacity: 0.7;
}

#main .wrapper .right-column section {
  margin-bottom: 35px;
  width: 100%;
}

#main .wrapper .right-column section .right-section-container{
  width: 100%;
}

#main .wrapper .right-column section .right-section-title {
  width: 100%;
  /* padding: 20px 15px; */
  display: flex;
  align-items: center;
  /* background-color: #e7ecd5; */
  margin-bottom: 10px;
}

#main .wrapper .right-column section .right-section-title h3 {
  padding-left: 15px;
  letter-spacing: 1.5px;
  display: flex;
  align-items: center;
  line-height: 38px;
  border-left: 8px solid #00a0e9;
  font-size: 180%;
  font-weight: 600;
}

#main .wrapper .right-column #youtube-link .youtube-container .youtube{
  width: 100%;
  height: auto;
  aspect-ratio: 376/238;
}

#main .wrapper .right-column #store-information .right-section-container img {
  width: 100%;
  margin-bottom: 20px;
}

#main .wrapper .right-column #store-information .right-section-container p {
  font-size: 1.1vw;
  margin-bottom: 15px;
  font-weight: 300;
}

#main .wrapper .right-column #staff-blog .staff-blog-container dt,
#main .wrapper .right-column #staff-blog .staff-blog-container dd a{
  color: #00a0e9;
}

#main .wrapper .right-column #staff-blog .staff-blog-container dt{
  font-size: 1.1vw;
  font-weight: 300;
  margin-bottom: 10px;
}

#main .wrapper .right-column #staff-blog .staff-blog-container dd{
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 2px dotted #d1d1d1;
}

#main .wrapper .right-column #staff-blog .staff-blog-container dd a{
  font-size: 1.3vw;
  font-weight: 600;
  /* margin-bottom: 10px; */
  text-decoration: underline;
}

#main .wrapper .right-column .gray-zone {
  width: 100%;
  margin-bottom: 60px;
}

#main .wrapper .right-column .gray-zone ul li img{
  width: 100%;
  margin-bottom: 15px;
}

#main .wrapper .right-column .online-store {
  width: 100%;
}

#main .wrapper .right-column .online-store .online-store-logo {
  width: 100%;
  display: inline-block;
  background: #000;
}

#main .wrapper .right-column .online-store .online-store-logo img {
  width: 100%;
  display: block;
  transition: all 0.4s;
}

#main .wrapper .right-column .online-store .online-store-logo:hover img {
  opacity: 0.7;
}

/* --------------------------------------
#footer
-----------------------------------------*/

#footer .footer-nav {
  width: 100%;
  background-color: #00a0e9;
  height: 90.7px;
}

#footer .footer-nav .nav-in {
  margin: 0 auto;
  max-width: 1600px;
  height: 100%;
  padding: 18.98px 3%;
}

#footer .footer-nav .menu-top {
  display: flex;
  height: 100%;
}

#footer .footer-nav .nav-in .menu-top .menu-item {
  width: 14.3%;
  height: 100%;
  display: flex;
  align-items: center;
  border-left: 2px solid #C6C6C6;
}

#footer .footer-nav .nav-in .menu-top .menu-item a{
  width: 100%;
  display: inline-block;
  transition: all 0.4s;
  line-height: 40px;
  text-align: center;
  font-weight: 700;
  font-size: 1.1vw;
  color: #fff;
}

#footer .footer-nav .nav-in .menu-top .menu-item a:hover {
  color: #f39400;
}

#footer .footer-nav .nav-in .menu-top .menu-item:last-child {
  border-right: 2px solid #C6C6C6;
}

#footer .footer-container {
  padding: 60px 0;
  background-color: #fff;
}

#footer .footer-container .footer-container-in {
  display: flex;
  /* justify-content: space-between; */
  max-width: 800px;
  margin: 0 auto 50px auto;
}

#footer .footer-container .footer-container-in .footer-logo {
  display: block;
  width: 55%;
}

#footer .footer-container .footer-container-in .footer-logo img {
  width: 80%;
  margin: 0 auto;
}

#footer .footer-container .footer-container-in .footer-contact {
  width: 45%;
}

#footer .footer-container .footer-container-in .footer-contact img{
  width: 90%;
  margin: 0 auto;
}

#footer .footer-container p {
  font-size: 120%;
  text-align: center;
  margin: 0 auto;
}

@media screen and (max-width: 1570px) {

  #header .header-long-block .header-long-block-in p {
    font-size: 1.06vw;
  }

  #header .header-nav .nav-in .menu-top .menu-item a{
    font-size: 1.8vw;
  }

  #main .wrapper {
    margin-bottom:0;
    /* padding:0 3% 100px 3%; */
  }

  #main .wrapper .left-column #courses .section-contents .description p {
    font-size: 120%;
  }

  #main .wrapper .left-column #testimonials .section-contents .testimonial-container .testimonial-desctription h3 {
    font-size: 160%;
  }

  #main .wrapper .left-column #testimonials .section-contents .testimonial-container .testimonial-desctription p {
    font-size: 130%;
  }
  
  #main .wrapper .left-column #testimonials .section-contents .testimonial-container .testimonial-desctription p:last-child {
    font-size: 130%;
  }

  #main .wrapper .right-column .reservation {
    margin-bottom: 20px;
  }

  #main .wrapper .right-column section {
    margin-bottom: 20px;
  }

  #main .wrapper .right-column section .right-section-title h3 {
    font-size: 1.8vw;
    line-height: 35px;
    padding-left: 12px;
  }

  #main .wrapper .right-column #store-information .right-section-container p {
    margin-bottom: 10px;
  }

  #main .wrapper .right-column #staff-blog .staff-blog-container dt{
    margin-bottom: 5px;
  }

  #main .wrapper .right-column #staff-blog .staff-blog-container dd{
    margin-bottom: 20px;
    padding-bottom: 20px;
  }

  #main .wrapper .right-column .gray-zone {
    width: 100%;
    margin-bottom: 50px;
  }

}

@media screen and (max-width: 1200px) {

  #header .header-container .header-container-in .header-container-in-in .header-reservation .reservation-logo {
    border-radius: 7px;
  }

  #main .wrapper {
    padding-bottom:80px;
  }

  #main .wrapper .left-column .section-title {
    padding: 15px 10px;
  }

  #main .wrapper .left-column .section-title h2 {
    padding-left: 15px;
    line-height: 32px;
    font-size: 180%;
  }
  
  #main .wrapper .left-column #news .section-contents .news-list .news-date {
    font-size: 120%;
  }
  
  #main .wrapper .left-column #news .section-contents .news-list .news-contents {
    font-size: 160%;
    margin-bottom: 20px;
  }

  #main .wrapper .left-column #courses .section-contents .description p {
    font-size: 110%;
  }

  #main .wrapper .left-column #testimonials .section-contents .testimonial-container .testimonial-desctription h3 {
    font-size: 140%;
  }

  #main .wrapper .left-column #testimonials .section-contents .testimonial-container .testimonial-desctription p {
    font-size: 120%;
  }
  
  #main .wrapper .left-column #testimonials .section-contents .testimonial-container .testimonial-desctription p:last-child {
    font-size: 120%;
  }

  #main .wrapper .right-column .reservation {
    margin-bottom: 10px;
  }

  #main .wrapper .right-column .reservation .reservation-logo {
    border-radius: 7px;
  }
  
  #main .wrapper .right-column section {
    margin-bottom: 15px;
  }

  #main .wrapper .right-column section .right-section-title h3 {
    font-size: 1.8vw;
    line-height: 25px;
    padding-left: 10px;
  }

  #main .wrapper .right-column #store-information .right-section-container p {
    margin-bottom: 5px;
  }

  #main .wrapper .right-column #staff-blog .staff-blog-container dt{
    margin-bottom: 2.5px;
  }

  #main .wrapper .right-column #staff-blog .staff-blog-container dd{
    margin-bottom: 10px;
    padding-bottom: 10px;
  }

  #main .wrapper .right-column .gray-zone {
    width: 100%;
    margin-bottom: 40px;
  }

}

@media screen and (max-width: 970px) {

  #main .wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  }

  #main .wrapper .left-column {
    width: 100%;
    margin-right: 0;
  }

  #main .wrapper .left-column #news .button {
    padding: 1.2% 2.5% 1.2% 4%;
    border-radius: 6px;
    font-size: 100%;
    font-weight: 400;
  }
  
  #main .wrapper .left-column #courses .section-contents .description p {
    font-size: 110%;
  }

  #main .wrapper .left-column #courses .section-contents .course-list-container {
    flex-direction: column;
    justify-content: center;
  }

  #main .wrapper .left-column #courses .section-contents .course-list-container .course-content {
    width: 70%;
    margin:0 auto 30px auto;
  }

  #main .wrapper .left-column #courses .section-contents .course-list-container .course-content:last-child {
    margin-bottom:0;
  }
  
  #main .wrapper .left-column #testimonials .section-contents .testimonial-container .testimonial-img {
    min-width: 265px;
  }

  #main .wrapper .left-column #testimonials .section-contents .testimonial-container .testimonial-desctription h3 {
    font-size: 140%;
    margin-bottom: 20px;
  }
  
  #main .wrapper .left-column #testimonials .section-contents .testimonial-container .testimonial-desctription p {
    font-size: 132%;
  }
  
  #main .wrapper .left-column #testimonials .section-contents .testimonial-container .testimonial-desctription p:last-child {
    font-size:110%;
  }

  #main .wrapper .left-column .main-contact-container {
    display: none;
  }

  #main .wrapper .right-column {
    width: 100%;
  }

  #main .wrapper .right-column .reservation {
    width: 60%;
    margin:0 auto 50px auto;
  }

  #main .wrapper .right-column .reservation .reservation-logo {
    border-radius: 15px;
  }

  #main .wrapper .right-column section {
    margin-bottom: 60px;
  }

  #main .wrapper .right-column section .right-section-title {
    background-color: #e7ecd5;
    padding: 15px 10px;
    margin-bottom: 30px;
  }

  #main .wrapper .right-column section .right-section-title h3 {
    line-height: 32px;
    font-size: 180%;
  }

  #main .wrapper .right-column #youtube-link .youtube-container .youtube{
    width: 100%;
    margin: 0 auto;
  }

  #main .wrapper .right-column #store-information .right-section-container p {
    font-size: 110%;
  }

  #main .wrapper .right-column #staff-blog .staff-blog-container dt{
    font-size: 100%;
  }

  #main .wrapper .right-column #staff-blog .staff-blog-container dd a{
    font-size: 120%;
  }

  #main .wrapper .right-column .gray-zone {
    width: 80%;
    margin: 0 auto 60px auto;
  }

  #main .wrapper .right-column .online-store {
    width: 80%;
    margin: 0 auto;
  }

  #footer .footer-nav {
    height: 70px;
  }

  #footer .footer-nav .nav-in {
    padding: 15px;
  }

  #footer .footer-nav .nav-in .menu-top .menu-item a {
    font-size: 1.8vw;
  }

  #footer .footer-container .footer-container-in .footer-contact img{
    width: 90%;
    margin: 0 5% 0 0;
  }

  #footer .footer-container p {
    font-size: 100%;
  }

}

@media screen and (max-width: 640px) {

  #header .header-long-block .header-long-block-in p {
    font-size: 70%;
  }

  #header .header-container .header-container-in .header-logo {
    width: 700px;
  }

  #header .header-container .header-container-in .header-container-in-in {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  #header .header-container .header-container-in .header-container-in-in .header-contact {
    margin: 0 0 10px auto;
    max-width: 200px;
  }

  #header .header-container .header-container-in .header-container-in-in .header-reservation {
    margin: 0 0 0 auto;
    max-width: 200px;
  }

  #header .header-container .header-container-in .header-container-in-in .header-reservation .reservation-logo {
    border-radius: 5px;
  }

  #header .header-main-visual .header-main-visual-in img {
    width: 100%;
    /* max-width: 1920px; */
    height: 364px;
    object-fit: none;
  }

  #header .header-nav .nav-in .menu-top .menu-item a{
    font-size: 1.8vw;
  }

  #main .wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
  }

  #main .wrapper .left-column {
    width: 100%;
    margin-right: 0;
  }

  #main .wrapper .left-column .section-title {
    padding: 10px 15px;
  }
  
  #main .wrapper .left-column .section-title h2 {
    font-size: 160%;
    font-weight: 600;
  }

  #main .wrapper .left-column #news .section-contents .news-list .news-date {
    font-size: 100%;
  }

  #main .wrapper .left-column #news .section-contents .news-list .news-contents {
    font-size: 140%;
  }

  #main .wrapper .left-column #news .button {
    padding: 1.2% 2.5% 1.2% 4%;
    border-radius: 6px;
    font-size: 100%;
    font-weight: 400;
  }
  
  #main .wrapper .left-column #courses .section-contents .description p {
    font-size: 110%;
  }

  #main .wrapper .left-column #courses .section-contents .course-list-container {
    flex-direction: column;
    justify-content: center;
  }

  #main .wrapper .left-column #courses .section-contents .course-list-container .course-content {
    width: 70%;
    margin:0 auto 30px auto;
  }

  #main .wrapper .left-column #courses .section-contents .course-list-container .course-content:last-child {
    margin-bottom:0;
  }
  
  #main .wrapper .left-column #testimonials .section-contents .testimonial-container .testimonial-img {
    min-width: 265px;
  }

  #main .wrapper .left-column #testimonials .section-contents .testimonial-container .testimonial-desctription h3 {
    font-size: 120%;
  }
  
  #main .wrapper .left-column #testimonials .section-contents .testimonial-container .testimonial-desctription p {
    font-size: 110%;
  }
  
  #main .wrapper .left-column #testimonials .section-contents .testimonial-container .testimonial-desctription p:last-child {
    font-size: 90%;
  }

  #main .wrapper .left-column .main-contact-container {
    display: none;
  }

  #main .wrapper .right-column {
    width: 100%;
  }

  #main .wrapper .right-column .reservation {
    width: 60%;
    margin:0 auto 50px auto;
  }

  #main .wrapper .right-column .reservation .reservation-logo {
    border-radius: 9px;
  }

  #main .wrapper .right-column section {
    margin-bottom: 60px;
  }

  #main .wrapper .right-column section .right-section-title {
    background-color: #e7ecd5;
    padding: 10px 15px;
    margin-bottom: 30px;
  }

  #main .wrapper .right-column section .right-section-title h3 {
    line-height: 32px;
    font-size: 160%;
  }

  #footer .footer-container p {
    font-size: 90%;
  }

}

@media screen and (max-width: 590px) {

  #header .header-long-block .header-long-block-in p {
    font-size: 50%;
  }

  #header .header-container .header-container-in .header-logo {
    width: 900px;
  }
  
  #header .header-nav .nav-in .menu-top .menu-item a{
    font-size: 2.0vw;
  }

  #main .wrapper {
    margin-bottom: 0px;
  }

  #main .wrapper .left-column .left-column-section {
    margin-bottom: 20px;
  }

  #main .wrapper .left-column .section-title {
    padding: 8px 10px;
  }
  
  #main .wrapper .left-column .section-title h2 {
    font-size: 140%;
  }

  #main .wrapper .left-column #news .section-contents .news-list .news-date {
    font-size: 80%;
  }

  #main .wrapper .left-column #news .section-contents .news-list .news-contents {
    font-size: 120%;
    margin-bottom: 15px;
  }

  #main .wrapper .left-column #news .section-contents .news-updates {
    margin-top: 25px;
  }

  #main .wrapper .left-column #news .button {
    padding: 1.2% 2.5% 1.2% 6%;
    font-size: 80%;
  }
  
  #main .wrapper .left-column #courses .section-contents .description p {
    font-size: 110%;
  }

  #main .wrapper .left-column #testimonials .section-contents .testimonial-container {
    flex-direction: column;
  }
  
  #main .wrapper .left-column #testimonials .section-contents .testimonial-container .testimonial-img {
    width: 70%;
    margin: 20px auto 30px auto;
  }

  #main .wrapper .left-column #testimonials .section-contents .testimonial-container .testimonial-desctription {
    margin: 0 auto;
    padding: 0 2%;
  }

  #main .wrapper .left-column #testimonials .section-contents .testimonial-container .testimonial-desctription h3 {
    font-size: 100%;
  }
  
  #main .wrapper .left-column #testimonials .section-contents .testimonial-container .testimonial-desctription p {
    margin-bottom: 30px;
    font-size: 90%;
  }
  
  #main .wrapper .left-column #testimonials .section-contents .testimonial-container .testimonial-desctription p:last-child {
    font-size: 80%;
    margin-bottom: 10px;
  }

  #main .wrapper .right-column section .right-section-title {
    background-color: #e7ecd5;
    padding: 8px 10px;
    margin-bottom: 20px;
  }

  #main .wrapper .right-column section .right-section-title h3 {
    line-height: 32px;
    font-size: 140%;
  }

  #footer .footer-nav {
    height: 45px;
  }

  #footer .footer-nav .nav-in {
    padding: 10px;
  }

  #footer .footer-nav .nav-in .menu-top .menu-item a {
    font-size: 2vw;
  }

  #footer .footer-container {
    padding: 40px 0;
    background-color: #fff;
  }

  #footer .footer-container p {
    font-size: 80%;
  }

}