@charset "UTF-8";

/*----------------------
CSS
作成日 : 2024/12/20
作成者 : k.yamashita
名称 : 株式会社スキューバマリン様webサイト
------------------------ */

/* 全体 */
html {
  font-size: 100%;
  color: #4d4d4d
}

body {
  font-family: "Hiragino Sans", "Meiryo", sans-serif;
  line-height: 1.6;
  width: 100%;
  font-size: 100%;
  background-color: #f5f5f5;
  color: #4d4d4d;
  font-style: normal;
}

a {
  text-decoration: none;
  color: #4d4d4d
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
  
#header {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
  
#header .header-long-block {
  display: flex;
  align-items: center;
  background-color: #00a0e9;
  height: 30px;
  /* margin-bottom: 30px; */
}

#header .header-long-block .header-long-block-in {
  margin-left: 10%;
  text-align: center;
}

#header .header-long-block .header-long-block-in p {
  color: #fff;
}

#header .header-container {
  padding: 0.9% 1% 0.9% 1%;
  background-color: #fff;
}

#header .header-container .header-container-in {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 0.5%;
}

#header .header-container .header-container-in a {
  display: flex;
  align-items: center;
}

#header .header-container .header-container-in img {
  /* display: block; */
  margin: 0;
}

#header .header-container .header-container-in .header-contact {
  margin-right: 2%;
  display: flex;
  align-items: center;
}

#header .header-main-visual {
  padding: 5px 4px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#header .header-main-visual .header-main-visual-in {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#header .header-main-visual .header-main-visual-in img {
  width: 100%;
}

#header .header-nav {
  width: 100%;
  background-color: #fff;
  padding: 1.1% 0;
}

#header .header-nav .nav-in {
  margin: 0 auto;
  width: 80%;
}

#header .header-nav .menu-top {
  display: flex;
}

#header .header-nav .nav-in .menu-top .menu-item {
  width: 14.3%;
  height: 50px;
  /* padding: 1.1% 0; */
  border-left: 1px solid #C6C6C6;
}

#header .header-nav .nav-in .menu-top .menu-item a{
  width: 100%;
  height: 100%;
  display: inline-block;
  transition: all 0.4s;
  line-height: 50px;
  text-align: center;
}

#header .header-nav .nav-in .menu-top .menu-item a:hover {
  color: #00a0e9;
}

#header .header-nav .nav-in .menu-top .menu-item:last-child {
  border-right: 1px solid #C6C6C6;
}

#header .header-nav .nav-in .menu-top .menu-item a {
  font-weight: 700;
  font-size: 1.1vw;
}

#main .wrapper {
  width: 80%;
  display: flex;
  margin: 0 auto;
}

#main .wrapper .left-column {
  width: 80%;
}

#main .wrapper .right-column {
  width: 20%;
}

#main .wrapper .left-column #news .section-title {
  width: 100%;
  padding: 1%;
  display: flex;
  align-items: center;
}

#main .wrapper .left-column #news .section-title h2 {
  margin-top: 2px;
  padding-left: 10px;
  letter-spacing: 1.5px;
  display: flex;
  align-items: center;
  line-height: 30px;
  border-left: 8px solid #00a0e9;
}